.join_form_div {
	padding-top: 150px;
	height: 1200px;
	background-color: white;
	text-align: center;	
	border:solid 3px red;
}

.joindiv > div,
article {
	border: solid 1px black;
	margin: auto;
	width: 300x;
	text-align: left;
}

.check_men_div {
	margin-left: 80px;
	padding: 0;
	border: solid 1px black;
	width: 100px;
	display: inline-block;
	
}

.check_women_div {
	padding: 0;
	border: solid 1px black;
	width: 100px;
	display: inline-block;
}


.agree1_text_div,
.agree2_text_div,
.agree3_text_div,
.agree4_text_div {
	border: solid 1px black;
	overflow-y: scroll;
	font-size: 10px;
}

.join_success_Btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}




/* 중복 아이디 존재하지 않는 경우 */
.id_input_re_1 {
	color : green;
	display : none;
}

/* 중복 아이디 존재하는 경우 */
.id_input_re_2 {
	color : red;
}