.middle_join_div{
	height: 1800px;
	padding-top: 200px;
	background-color: white;
}

.middle_join_success_div {
	height: 1000px;
	padding-top: 200px;
	background-color: white;
}

.join_success_div {
	height: 250px;
	width: 50%;
	margin: auto;
	background-color: rgb(246 249 254);
	color: black;
	font-size: 20px;
	border: solid 1px red;
	text-align: center;
}

.join_div {
	height: 1800px;
	background-color: white;
	text-align: center;
}

.join_div > div,
.join_article {
	margin: auto;
	width: 400px;
	text-align: left;
	display: block;
}

.message_div {
	height: 30px;
	margin-bottom: 5px;
}

.message_div > p {
	padding-top: 0;
	font-size: 10px;
	font-weight: bold;
	margin-left: 120px;
}

.join_title_div {
	padding-bottom: 50px;
}

.join_title_div > a {
	font-size: 25px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
}

.a_div {
	width: 120px;
	height: 15px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.input_check_div {
	width: 30px;
	height: 30px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
	padding-bottom: 10px;
}

.input_div,
.input_radio_div,
.a_law_div,
.a_sms_div,
.a_email_div  {
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.input_div > input {
	width: 250px;
	height: 30px;
	font-size: 12px;
}

.input_div > #mem_birth_date,
.input_div > #mem_birth_date2 {
	margin-left: 10px; 
	width: 100px;
	height: 30px;
	font-size: 12px;
}


.a_sms_div,
.a_email_div {
	width: 250px;
	height: 30px;
}

.a_law_div {
	width: 250px;
	height: 30px;
	padding-top: 20px;
}

.a_div > a,
.a_law_div > a,
.a_sms_div > a,
.a_email_div > a {
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
	color: darkgray;
}

.check_gender_div {
	padding: 0;
	border: solid 1px black;
	width: 100px;
	display: inline-block;
}

.input_radio_div > a {
	font-size: 15px;
}

.join_check_law_content_div {
	border: solid 1px black;
	font-size: 10px;
	height: 100px;
	overflow-y: scroll;
}


.join_success_Btn_div {
	padding-top: 50px;
	border: solid 1xp black;
	text-align: center;
}
.join_success_Btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}

.login_go_btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}