.middle_location_div{
	height: 900px;
	padding-top: 200px;
	background-color: white;

}

.location_div {
	height: 650px;
}

.coming_direction_div {
	width: 100%;
	height: 80px;
	text-align: center;
	font-weight: bold;
	font-size : 25px;
	font-family: 'Noto Sans KR', sans-serif;
}

.map_div {
	width: 100%;
}

.location_map_div1 {
	width : 49%;
	height : 550px;
	float: left;
}

#location_map_div2 {
	width : 80%;
	height : 550px;
	float: right;
	border: solid 1px gray;
}

.location_content_div1 {
	width: 49%;
	height: 550px;
	background-color: white;
	float:left;
}

.location_content_div2 {
	width: 70%;
	height: 550px;
	background-color: white;
	margin-left: 50px;
	position: absolute; <!-- 지도 고정 -->
}

.bus_div,
.subway_div,
.park_div {
	text-align: left;
	font-weight: bold;
	font-size : 20px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-bottom: 10px;
}

.bus_content,
.subway_content,
.park_content {
	text-align: left;
	font-size : 14px;
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 20px;
	color : black;
}