.middle_mypage_div{
	height: 1000px;
	padding-top: 200px;
	background-color: white;
	border: solid 1px black;
}

.mypagediv {
	height: 700px;
	background-color: white;
	text-align: center;
	border: solid 1px red;
}

.mypagediv > div {
	border: solid 1px blue;
	height: 300px;
	width: 40%;
}