body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration:none; /* 밑줄 없애기 */
  color: white;
}

.navbar_menu > li > i {
	color: white;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
}

.background {
  background-size: cover;
}

.navbar {
  display: flex; /* 아이템을 한 줄에 나란히 */
  justify-content:right; /* 오른쪽부터 쌓기*/
  align-items: center; /* 수직적으로 중간 배치 */
  background-color: transpare; /*배경색 투명 */
  padding: 8px 12px;  /* 상하 8px, 좌우 12px */
}

.navbar_logo {
  font-size: 40px;
  margin-right: auto; /*로고만 오른쪽에 놓기 */
  margin-left: 70px;
  margin-top: 20px;
}

.navbar_logo > a > img {
  	width: 160px;
  	height: 50px;
  }

.navbar_logo a:hover { /* 메뉴명에 마우스 올리면 검정색으로 변함 */
  color: black;
}

.navbar_menu {
  display:flex; /*한 줄에 하나씩*/
  list-style: none; /* 점(disk) 없애기 */
  padding-left: 0;
  margin-top: 60px;
  margin-right: 70px;
}

.navbar_menu li {
  padding: 8px 12px;
  font-size: 13px;
}

.navbar_menu a:hover { /* 메뉴명에 마우스 올리면 검정색으로 변함 */
  color: black;
}

.navbar_menu i:hover { /* 메뉴명에 마우스 올리면 검정색으로 변함 */
  color: black;
}

.navbar_submenu{
  display: none;
  position: absolute;
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
}

.navbar_menu > li:hover > ul {
  display: block;
  background-color:lightgray;
  opacity: 0.8;
  margin-top: 5px;
}

.main_login_id {
	font-size : 10px;
	color : white;
}

.navbar_toggleBtn{
  display: none; /* 화면이 작아졌을 때만 나오게 하기위함 */
  position: absolute; /* 제일 위로 올라감 */
  right: 20px; /* 오른쪽에서 30px 떨어진 곳에 붙임 */
  font-size: 24px;
}

.footer {
  background-color: rgb(248 248 248);
  float: left;
  width: 100%;
  justify-content:right;
}

.footercontent {
  background-color: rgb(248 248 248);
  font-size: 10px;
  width: 60%;
  float: left;
  padding: 15px;
  color:black;
}

.footerconnect {
  background-color: rgb(248 248 248);
  font-size: 25px;
  width: 30%;
  float: right;
  text-align: left;
  color: black;
  margin: 0;
  padding: 0;
}

.teamname {
  font-size: 10px;
  color: black;
}

@media screen and (max-width: 840px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(248 248 248);
  }

  .navbar_logo {
    align-items: center;
    margin: auto;
  }

  .navbar > a,
  .navbar_logo > a,
  .navbar_menu > li > a,
  .navbar_menu > li > i{
    color: darkgray;
  }

  .navbar_submenu > li > a {
    color: white;
  }

  .navbar_menu{
    display: none; /* 메뉴 아이템이 사라진다 */
    flex-direction: column;
    align-items: center;
    width:100%;
    overflow: hidden;
    margin:30px;
  }

  .navbar_menu > li {
    float: left;
    text-align: center;
  }

  .navbar_submenu > li {
    line-height: 10px;
  }

  .navbar_submenu {
    height: 0;
    overflow: hidden;
  }

  .navbar_menu > li > a:hover, .navbar_submenu {
    height: 60px;
    transition-duration: 1s;
    
  }

  .navbar_toggleBtn {
    display: block;
  }

  /* 토글버튼을 누르면 메뉴와 아이콘이 활성화 된다*/
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  .footercontent{
    text-align: center;
  }

  .background{
    height: 490px;
  }

}