* {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.logo-img {
  width: 180px;
  height: 56px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.navbar-infomsg {
	width: 100%;
}

.navbar-infomsg > p{
	width: 100%;
	margin: auto;
  text-align: right;
}

.profile-img {
	font-size: 25px;
	margin-right: 10px;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

#contents-div > div {
  background-color: white;
}

/* 메인 화면 */
#index-content {
  background-color: white;
  border-radius: 10px;
  width: 650px;
  height: 650px;
  margin: 30px;
  padding: 5px;
}

.main-inner-content {
  height: 580px;
}

.content-title h1 {
  color: rgb(93, 93, 93);
  font-weight: 600;
  font-size: 24px;
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.stats-table {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  border-collapse: separate;
}

.stats-table tr, td {
  border-bottom: solid 1px rgb(186, 186, 186);
}

.stats-table th {
  font-size: 20px;
  background-color: rgb(241, 241, 241);
  border-collapse: separate;
  border-radius: 10px;
}

.stats-table td {
  font-size: 18px;
}

.stats-table tr:hover {
  background-color: rgb(235, 235, 235);  
}

.table-col-1 {
  width: 131px;
}

.table-col-2, .table-col-4, .table-col-5, .table-col-6 {
  width: 61px;
}

.table-col-3 {
  width: 231px;
}

/* 매출 통계 */
.stats-content {
  background-color: white;
  border-radius: 10px;
  width: 1430px;
  height: 500px;
  margin: 5px;
  padding: 5px;
}

.stats-inner-content {
  height: 430px;
}

.stats-title {
  height: 50px;
}  


/* 공지사항 */
.notice-content {
  background-color: white;
  border-radius: 10px;
  width: 1430px;
  height: 820px;
  margin: 5px;
  padding: 5px;
}

.notice-form {
  padding: 10px;
}

.notice-title {
  padding: 10px;
}

.notice-title h1 {
  color: rgb(93, 93, 93);
  font-weight: 600; 
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.notice-write-title {
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.submit-btn {
  width: 180px;
  font-size: 24px;
}

.notice-board {
  text-align: center;
}

.pagination-btn {
  margin-right: 5px;
  text-decoration: none;
}