
.main {
	
	padding-top: 50px;
	border: 1px solid black;
	overflow: hidden;

}

.selectProduct {
	width: 300px;

}
.selectProduct:hover {
	background-color: lightgray;	
}

.qna-form {
	
	padding-top: 50px;
	border: 1px solid black;
	width: 1200px;
	overflow: auto;
}

.mb-3 {
	
	padding-left: 30px;
	overflow: auto;
}

.image-box {
	border: 0px;
	width: 100px;
	height: 100px;
}




.selectProduct {
	
	
	
}

#inputs {
	cursor: pointer;

	
}

#searchImg {
	width: 100px;
	height: 100px;
}


