.detail {
    padding:60px;
    margin-left: auto;
    margin-right: auto;
    
}

.container {
	display: flex;
    flex-direction: row;
}

.b {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    width: auto;
    height: 300px;
}


img {
    width: 200px;
    height: 200px;
}

.image-box {
	border: 0px;
	width: 100px;
	height: 100px;
}

#inputs {
	position: relative;
	z-index: 3;
}

#searchInput {
	position: absolute;
	z-index: 2;
}

.selectProduct {
	background-color: white;
}

.selectProduct:hover {
	background-color: lightgray;	
}
#inputs {
	cursor: pointer;
	
}

#searchImg {
	width: 100px;
	height: 100px;
}

<!-- 이미지 삭제 버튼 모아둔 곳 -->

#firstImg {
    position: relative;
    z-index: 2;
}

#imgBox1 {
    position: absolute;
    z-index: 1;
    margin-left: 70px;
    margin-top: 60px;
}

#secondImg {
    position: relative;
    z-index: 2;
}

#imgBox2 {
    position: absolute;
    z-index: 1;
    margin-left: 180px;
    margin-top: 30px;
}

#thirdImg {
    position: relative;
    z-index: 2;
}

#imgBox3 {
    position: absolute;
    z-index: 1;
    margin-left: 275px;
    margin-top: 7px;
}
