.main {
	
	padding-top: 50px;
	border: 1px solid black;
	overflow: hidden;
}


.qna-form {
	
	padding-top: 50px;
	border: 1px solid black;
	width: 1200px;
	overflow: auto;
}

.mb-3 {
	
	padding-left: 30px;
	overflow: auto;
}