.detail {
    padding:60px 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

textarea {
	resize: none;
}

#commentBtn {
	margin-left: 900px;
	border: 0px ;
	background-color: white;
	color:darkred;
	cursor: pointer;
	font-weight:900;
	font-size: 20px;
}

.container {
	display: flex;
    flex-direction: row;
    height: 80px;
    margin-left: 0px;
    padding-left: 0px;
}


.sub-container2 {
	display: flex;

}

.sub-container2 > div {
	margin: 0 20px;
}

h3 {
	font-weight: bold;
}

.content {
    width: auto;
    height: 300px;
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
}

#prd_name, #title {
    text-align: left;
    font-size: 40px;
    height: 50px;
    margin-bottom: 20px;
}

hr {
  border-top: 1px solid gray;
}

#comment {
	font-weight: bold;
	font-size: 20px;
}

button {
  	background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    float: right;
    border-radius: 5%;
    margin: 30px 0;
    cursor: pointer; 
  }

  .comment_box {
	margin: 20px 0;
}