<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onore.project.mapper.DailySalesMapper">
	<select id="getSalesThisWeek" resultType="com.onore.project.admin.vo.DailySalesVO"> 
		SELECT
		    a.dt AS day , 
		    NVL(SUM(b.pay_price), 0) AS daily_sales,
		    NVL(COUNT(b.pay_price), 0) AS daily_sales_cnt
		FROM
		    (SELECT TO_CHAR(SYSDATE-7 + LEVEL, 'YYYY.MM.DD') AS dt
		     FROM dual
		     <![CDATA[CONNECT BY LEVEL <= 7) a,]]>
		    (SELECT TO_CHAR(order_date, 'YYYY.MM.DD') AS day , pay_price
		     FROM orders
		     WHERE order_date BETWEEN TO_CHAR(SYSDATE-6,'YYYY.MM.DD') AND TO_CHAR(SYSDATE+1 , 'YYYY.MM.DD')) b
		WHERE a.dt = b.day(+)
		GROUP BY a.dt
		ORDER BY a.dt DESC
	</select>
	<select id="getSalesThisWeekTotal" resultType="com.onore.project.admin.vo.DailySalesVO"> 
		SELECT 
		    SUM(daily_sales) AS daily_sales_total,
		    SUM(daily_sales_cnt) AS sales_cnt_total
		FROM 
		    (SELECT
		     a.dt AS day ,
		     NVL(SUM(b.pay_price), 0) AS daily_sales,
		     NVL(COUNT(b.pay_price), 0) AS daily_sales_cnt
		    FROM
		     (SELECT TO_CHAR(SYSDATE-7 + LEVEL, 'YYYY.MM.DD') AS dt
		      FROM dual
		      <![CDATA[CONNECT BY LEVEL <= 7) a,]]>
		     (SELECT TO_CHAR(order_date, 'YYYY.MM.DD') AS day , pay_price
		      FROM orders
		      WHERE order_date BETWEEN TO_CHAR(SYSDATE-6,'YYYY.MM.DD') AND TO_CHAR(SYSDATE+1 , 'YYYY.MM.DD')) b
		    WHERE a.dt = b.day(+)
		    GROUP BY a.dt)
	</select>
	<select id="getSalesThisMonth" resultType="com.onore.project.admin.vo.DailySalesVO">
		SELECT
		    a.dt AS day ,
		    NVL(SUM(b.pay_price), 0) AS daily_sales,
		    NVL(COUNT(b.pay_price), 0) AS daily_sales_cnt
		FROM
		    (SELECT TO_CHAR(TRUNC(SYSDATE, 'MM') + LEVEL - 1, 'MM.DD') AS dt
		     FROM dual
		     <![CDATA[CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(sysdate),'DD')) a,]]>
		    (SELECT TO_CHAR(order_date, 'MM.DD') AS day , pay_price
		     FROM orders
		     WHERE order_date BETWEEN (TO_CHAR(TRUNC(SYSDATE,'MM'),'YYYYMMDD')) AND (LAST_DAY(SYSDATE))) b
		WHERE a.dt = b.day(+)
		GROUP BY a.dt
		ORDER BY a.dt
	</select>
	<select id="getSalesThisMonthTotal" resultType="com.onore.project.admin.vo.DailySalesVO">
		SELECT
		    TO_CHAR(SYSDATE, 'YYYY-MM') AS month,
		    SUM(daily_sales) AS daily_sales_total,
		    SUM(daily_sales_cnt) AS sales_cnt_total
		FROM 
		    (SELECT
		     a.dt AS day ,
		     NVL(SUM(b.pay_price), 0) AS daily_sales,
		     NVL(COUNT(b.pay_price), 0) AS daily_sales_cnt
		    FROM
		     (SELECT TO_CHAR(TRUNC(SYSDATE, 'MM') + LEVEL - 1, 'MM.DD') AS dt
		     FROM dual
		     <![CDATA[CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(sysdate),'DD')) a,]]>
		     (SELECT TO_CHAR(order_date, 'MM.DD') AS day , pay_price
		     FROM orders
		     WHERE order_date BETWEEN (TO_CHAR(TRUNC(SYSDATE,'MM'),'YYYYMMDD')) AND (LAST_DAY(SYSDATE))) b
		    WHERE a.dt = b.day(+)
		    GROUP BY a.dt)
	</select>
</mapper>