<?xml version="1.0" encoding="UTF-8"?>				
<!DOCTYPE mapper				
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">			
<mapper namespace="com.onore.project.mapper.MemberMapper">	

<!-- 회원가입 -->
<insert id="member_join" parameterType="com.onore.project.dto.MemberDTO">
	INSERT INTO members VALUES (
		#{mem_id},
		#{mem_pw},
		#{mem_email},
		#{mem_phone},
		#{mem_name},
		#{mem_zip_code},
		#{mem_street_address},
		#{mem_detail_address},
		#{mem_gender},
		#{mem_birth_date},
		SYSDATE,
		3000,
		0,
		#{mem_law1_check},	
		#{mem_law2_check},	
		#{mem_law3_check},	
		#{mem_law4_check},
		#{mem_law5_check},		
		#{mem_sms_check},	
		#{mem_email_check}	
	)
</insert>

<!-- 로그인 -->
<select id="signIn" resultType="com.onore.project.dto.MemberDTO">
	SELECT * FROM members WHERE mem_id = #{mem_id}
</select>	

<!-- 아이디 중복체크 -->
<select id="idCheck" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM members WHERE mem_id = #{mem_id}
</select>

<!-- 아이디 찾기 : mem_id가 null인 경우 0으로 대체하여 NULL에러 방지-->
<select id="find_id" resultType="String">
	SELECT NVL(mem_id, 0) FROM members WHERE mem_name = #{mem_name} AND mem_email = #{mem_email}
</select>

<!-- 비밀번호 찾기(1) : 아이디와 이메일이 DB에 존재하는지 먼저 검사 -->
<select id="find_pw" resultType="String">
	SELECT NVL(mem_pw, 0) FROM members WHERE mem_id = #{mem_id} AND mem_email = #{mem_email}
</select>
	
<!-- 비밀번호 찾기(2) : 임시비밀번호 발급 -->
<select id="modifyPw" parameterType="com.onore.project.dto.MemberDTO">
	UPDATE members SET mem_pw = #{mem_pw} WHERE mem_id = #{mem_id} AND mem_email = #{mem_email}
</select>

<!-- 회원정보 상세조회 -->
<select id="getMember" parameterType="String" resultType="com.onore.project.dto.MemberDTO">
	SELECT
		*
	FROM members
	WHERE mem_id = #{mem_id}
</select>

<!-- 문의글 가져오기 -->
<select id="getQnaView" resultType="com.onore.project.dto.QnaDTO">
	SELECT * FROM qna WHERE mem_id = #{mem_id}
</select>


<!-- 회원정보 수정 -->
<update id="memberInfoModify">
	UPDATE members SET mem_email = #{mem_email}, mem_phone = #{mem_phone}, mem_sms_check = #{mem_sms_check}, mem_email_check = #{mem_email_check}  WHERE mem_id = #{mem_id}
</update>

<!-- 비밀번호 변경 -->
<update id="memberPwModify">
	UPDATE members SET mem_pw = #{mem_pw} WHERE mem_id = #{mem_id}
</update>

<!-- 회원탈퇴 -->
<delete id="memberDeleteDo" parameterType="com.onore.project.dto.MemberDTO">
	DELETE FROM members WHERE mem_id = #{mem_id} AND mem_pw =#{mem_pw}
</delete>


<!-- 아이디와 이메일이 DB에 존재하는지 먼저 검사 (실패) -->
<select id="searchPwd" parameterType="com.onore.project.dto.MemberDTO" resultType="com.onore.project.dto.MemberDTO">
	SELECT * FROM members WHERE mem_id=#{mem_id} AND mem_email=#{mem_email}
</select>

<!-- 임시비밀번호 발급을 위한 업데이트 (실패) --> 
<update id="updatePwd" parameterType="com.onore.project.dto.MemberDTO">
	UPDATE members SET mem_pw=#{mem_pw} WHERE mem_id=#{mem_id} AND mem_email=#{mem_email}
</update>

<insert id="insertCoupon" parameterType="com.onore.project.dto.CouponDTO">
	INSERT INTO coupon VALUES(coupon_seq.nextval, #{coupon_name}, #{mem_id}, #{coupon_discount})
</insert>

<!-- 회원이 소유한 쿠폰을 조회 -->
<select id="getCoupons" resultType="com.onore.project.dto.CouponDTO">
	SELECT * FROM coupon WHERE mem_id = #{mem_id}
</select>

<!-- 회원이 사용한 쿠폰 제거 -->
<delete id="deleteCoupon" parameterType="String">
	DELETE FROM coupon WHERE coupon_name = #{discount_coupon}
</delete>

<!-- 적립금 할인 사용후 적립금 차감 -->
<update id="updatePoints" parameterType="com.onore.project.dto.MemberDTO">
	UPDATE members SET mem_point = #{mem_point} WHERE mem_id = #{mem_id}
</update>

<!-- 주문완료 후 배송지 수정 -->
<insert id="updateMemberAddress" parameterType="com.onore.project.dto.MemberDTO">
		UPDATE members SET mem_zip_code=#{mem_zip_code}, mem_street_address=#{mem_street_address}, mem_detail_address=#{mem_detail_address}
		WHERE mem_id = #{mem_id}
</insert>

<select id="getReview" resultType="com.onore.project.dto.ReviewandProductDTO">
	SELECT * FROM reviews INNER JOIN products USING (product_num) WHERE mem_id=#{mem_id} <![CDATA[AND ROWNUM <= 5]]> ORDER BY review_num DESC
</select>

<select id="getReviewAll" resultType="com.onore.project.dto.ReviewandProductDTO">
	SELECT * FROM reviews INNER JOIN products USING (product_num) WHERE mem_id=#{mem_id} ORDER BY review_num DESC
</select>
</mapper>				
