<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onore.project.mapper.ReviewMapper">
  <select id="getAll" resultType="com.onore.project.dto.ReviewandProductDTO">
    SELECT * FROM reviews INNER JOIN products USING (product_num) ORDER BY review_num DESC
  </select>

  <select id="get" resultType="com.onore.project.dto.ReviewandProductDTO">
  	SELECT * FROM reviews INNER JOIN products  USING (product_num) WHERE review_num=#{review_num}
  </select> 
  
  <select id="getReplyAll" resultType="com.onore.project.dto.CommentDTO">
  	SELECT * FROM comments WHERE review_num=#{review_num} ORDER BY comment_num DESC
  </select>
  
  <select id="cntReply" resultType="Integer">
  	SELECT COUNT(*) FROM comments WHERE review_num=#{review_num}
  </select>
  
  <insert id="insert" parameterType="com.onore.project.dto.ReviewDTO">
  	INSERT INTO reviews VALUES (
  		review_num_seq.nextval,
  		3,
  		'abc123',
  		#{review_content},
  		SYSDATE,
  		#{review_rating},
  		null,
  		null,
  		null,
  		0,
  		0
  	)
  </insert>
  
  <insert id="insertReply" parameterType="com.onore.project.dto.CommentDTO">
  	INSERT INTO comments VALUES (
  		comment_num_seq.nextval,
  		#{review_num},
  		'abc123',
  		#{comment_content},
  		SYSDATE
  	)
  </insert>
  
  <update id="modify">
  	UPDATE reviews SET
  	 review_content=#{review_content},
  	 review_rating=#{review_rating}
  	 WHERE review_num=#{review_num}
  </update>
  
  <update id="replyModify">
  	UPDATE comments SET 
  		comment_content=#{comment_content} 
  		WHERE comment_num=#{comment_num}
  </update>
  
  <delete id="delete">
  	DELETE FROM reviews WHERE review_num=#{review_num}
  </delete>
  
  <delete id="replyDelete">
  	DELETE FROM comments WHERE comment_num=#{comment_num}
  </delete>
</mapper>