<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onore.project.mapper.ReviewMapper">
  <select id="getAll" resultType="com.onore.project.dto.ReviewDTO">
    SELECT * FROM reviews ORDER BY review_num DESC
  </select>
  
  <select id="get" resultType="com.onore.project.dto.ReviewDTO">
  	SELECT * FROM reviews WHERE review_num=#{review_num}
  </select>
  
  <select id="getComment" resultType="com.onore.project.dto.CommentDTO">
  	SELECT * FROM comments WHERE review_num=#{review_num}
  </select>
  
  <insert id="insert" parameterType="com.onore.project.dto.ReviewDTO">
  	INSERT INTO reviews VALUES (
  		review_num_seq.nextval,
  		9999,
  		'test3',
  		#{review_content},
  		SYSDATE,
  		#{review_rating},
  		null,
  		null,
  		null
  	)
  </insert>
  
  <update id="modify">
  	UPDATE reviews SET
  	 review_content=#{review_content},
  	 review_rating=#{review_rating}
  	 WHERE review_num=#{review_num}
  </update>
  
  <delete id="delete">
  	DELETE FROM reviews WHERE review_num=#{review_num}
  </delete>
</mapper>