<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onore.project.mapper.ShopMapper">
	
	<select id="getAll" resultType="com.onore.project.dto.ShopDTO">
		select * from products
	</select>
	
	<select id="getDerby" resultType="com.onore.project.dto.ShopDTO">
		select * from products where category_num = 1
	</select>
	
	<select id="getBoots" resultType="com.onore.project.dto.ShopDTO">
		select * from products where category_num = 2
	</select>
	
	<select id="getLoafers" resultType="com.onore.project.dto.ShopDTO">
		select * from products where category_num = 3
	</select>
	
	<select id="getSneakers" resultType="com.onore.project.dto.ShopDTO">
		select * from products where category_num = 4
	</select>
	
	<select id="getDetail" resultType="com.onore.project.dto.ProductsDTO">
		SELECT * FROM products WHERE product_num=#{product_num}
	</select>
	
	<select id="getProReview" resultType="com.onore.project.dto.ReviewDTO">
		SELECT * FROM reviews WHERE product_num=#{product_num}
	</select>
	
	<select id="getProQna" resultType="com.onore.project.dto.QnaDTO">
		SELECT * FROM qna WHERE product_num=#{product_num}
	</select>
	
	<insert id="getWish" parameterType="com.onore.project.dto.WishDTO">
  		INSERT INTO wish_list VALUES (
  			wish_num_seq.nextval,
  			#{product_num},
  			#{mem_id}
  		)
  	</insert>
  	
  	<delete id="deleteWish">
  		DELETE FROM wish_list WHERE product_num=#{product_num}  AND mem_id=#{mem_id}
 	</delete>
 	
 	<select id="checkWish" resultType="String">
		SELECT mem_id FROM wish_list WHERE product_num = #{product_num}
	</select>
	
	<insert id="addToCart" parameterType="com.onore.project.dto.CartDTO">
		INSERT INTO cart VALUES (cart_seq.nextval, #{product_num}, #{mem_id}, #{cart_product_qty},
								 #{cart_product_price}, #{cart_product_option})
	</insert>
	
	<select id="getCartList" resultType="com.onore.project.dto.CartDTO">
		SELECT * FROM cart WHERE mem_id=#{mem_id}
	</select>
	
	<select id="getCart" resultType="com.onore.project.dto.CartDTO">
		SELECT * FROM cart WHERE cart_num=#{cart_num}
	</select>
	
	<update id="updateCart" parameterType="com.onore.project.dto.CartDTO">
		UPDATE cart SET cart_product_qty = #{cart_product_qty}, cart_product_price = #{cart_product_price} 
		WHERE cart_num = #{cart_num}
	</update>
	
	<delete id="deleteCart" parameterType="Integer">
		DELETE FROM cart WHERE cart_num = #{cart_num}
	</delete>
	
	<delete id="deleteAllCart">
		DELETE FROM cart
	</delete>
</mapper>