<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onore.project.mapper.ShopMapper">
	
	<select id="getAll" resultType="com.onore.project.dto.ProductsDTO">
		select * from products
	</select>
	
	<select id="getDerby" resultType="com.onore.project.dto.ProductsDTO">
		select * from products where category_num = 1
	</select>
	
	<select id="getBoots" resultType="com.onore.project.dto.ProductsDTO">
		select * from products where category_num = 2
	</select>
	
	<select id="getLoafers" resultType="com.onore.project.dto.ProductsDTO">
		select * from products where category_num = 3
	</select>
	
	<select id="getSnakers" resultType="com.onore.project.dto.ProductsDTO">
		select * from products where category_num = 4
	</select>
	
	<select id="getDetail" resultType="com.onore.project.dto.ProductsDTO">
		SELECT * FROM products WHERE product_num=#{product_num}
	</select>
	
	<select id="getProReview" resultType="com.onore.project.dto.ReviewDTO">
		SELECT * FROM reviews WHERE product_num=#{product_num}
	</select>
	
	<select id="getProQna" resultType="com.onore.project.dto.QnaDTO">
		SELECT * FROM qna WHERE product_num=#{product_num}
	</select>
	
	<select id="checkWish" resultType="com.onore.project.dto.WishDTO">
		SELECT * FROM wish_list WHERE product_num = #{product_num}
	</select>
	
	<insert id="getWish" parameterType="com.onore.project.dto.WishDTO">
  		INSERT INTO wish_list VALUES (
  			wish_num_seq.nextval,
  			#{product_num},
  			#{mem_id}
  		)
  	</insert>
  	
  	<delete id="deleteWish">
  		DELETE FROM wish_list WHERE product_num=#{product_num}  AND mem_id=#{mem_id}
 	</delete>
	
</mapper>