.container {
	margin: 50px;
	margin-top: 0;
	padding-top: 127px;
	width: auto;
}

.header_container {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.cart_container {
	width: 100%;
	text-align: center;
}

.cart {
	margin: auto;
}

.product_name {
	font-size: 20px;
	font-weight: bolder;
}

table thead .cart_header_outline th {
	padding: 0;
	border-top: 2px solid black;
	/*  border-bottom: 2px solid black; */
}

table thead .cart_header th {
	padding: 12px 0 11px;
	vertical-align: middle;
}

table tbody .cart_body td {
	padding: 15px 0;
	line-height: 35px;
}

table tfoot tr:first-child td {
	padding: 20px 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

/* button {
	background-color: white;
	color: rgb(120, 120, 120);
	border-color: rgb(200, 200, 200);
	border-radius: 5%;
	cursor: pointer;
} */

.sub-button_container {
	width: 100%;
	text-align: right;
	padding: 10px;
}

.order_single_btn {
	background-color: rgb(100, 100, 100);
	color: white;
}

.order-button_container {
	padding: 50px 0;
}

.order-button_container button {
	width: 150px;
	height: 50px;
	border-color: black;
	border-radius: 0%;
}

.order_selected_btn {
	background-color: white;
	color: black;
}

.order_all_btn {
	background-color: black;
	color: white;
}