.flex-container2 {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 1200px;
    height: 800px;
}


.img-container  {
	width:250px;
    height:250px;
    padding: 5px;
   	overflow: hidden;
   	margin:0 auto;
   	vertical-align: middle;
    background-position: center;
}

.img-container > img {
	width:200px;
	height:200px;
	object-fit:cover;
}

.test {
	position: absolute;
	z-index: 2;
	padding-top: 20px;
	margin-left: 50px;
	text-align: center;
	color: black;
	
}
