.flex-container2 {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 1200px;
 
}

.img-container  {
	width:300px;
    height:300px;
    padding: 5px;
   	margin:0 auto;
   	vertical-align: middle;
    background-position: center;
 
}

.img-info > img{
	width:250px;
	height:250px;
	
}

.img-info2 > span {

	z-index: 2;
	padding-top: 20px;
	margin-left: 50px;
	text-align: center;
	color: black;
	
}

#imgBox > div{
	overflow: auto;
}


