<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.onore.project.qna.mapper.QnaMapper">
	<select id="getAll" resultType="com.onore.project.qna.dto.Qna">
		select * from qna order by qna_num DESC
	</select>
	
	<insert id="qnaWrite"
		parameterType="com.onore.project.qna.dto.Qna">
		INSERT INTO qna VALUES (qna_num_seq.nextval, #{product_num}, #{mem_id}, #{qna_title}, #{qna_content}, SYSDATE, #{qna_category}, #{qna_img_path}, #{qna_img_1}, #{qna_img_2}, #{qna_img_3})

	</insert>
	

</mapper>






