<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
	  		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<Console name="ResultSetTable" target="SYSTEM_OUT">
			<MarkerFilter marker="LOG4JDBC_RESULTSETTABLE" onMatch="ACCEPT" onMismatch="DENY"/>
	  		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<Console name="Sql" target="SYSTEM_OUT">
			<MarkerFilter marker="LOG4JDBC_SQL" onMatch="ACCEPT" onMismatch="DENY"/>
	  		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="com.onore.project" level="info" />
		<Logger name="log4jdbc.log4j2" level="info" additivity="false">
			<MarkerFilter marker="LOG4JDBC_RESULTSET" onMatch="DENY" onMismatch="NEUTRAL"/>
			<Appender-ref ref="ResultSetTable"/>
			<Appender-ref ref="Sql"/>
		</Logger>
		<Root level="warn">
	 		<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
	
	
</Configuration>
