
* {
    box-sizing: border-box;
}

div {
	text-align: center;
}

.word {
	margin: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: left;
	padding-left: 20px;
	color: gray;
}

#main_img > img{
    width: 90%;
    float: center;
   
}

#img_2 {
	display: grid;
	text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

img {
	width: 80%;
	hegith: 300px;
}

#shop {
	float: center;
}

#shop >img {
	width: 80%;
}