.middle_member_info_delete_div {
	height: 400px;
	padding-top: 300px;
	background-color: white;
}

.member_info_delete_div {
	height: 400px;
	background-color: white;
	text-align: center;
}

.member_info_delete_div > div  {
	margin: auto;
	width: 400px;
	text-align: left;
	display: block;
}

.member_delete_title_div {
	padding-bottom: 50px;
}

.member_delete_title_div > a {
	font-size: 25px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
}

.member_delete_a_div {
	width: 120px;
	height: 15px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.member_delete_a_div > a {
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
	color: darkgray;
}

.delete_input_div  {
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.delete_input_div > input {
	width: 250px;
	height: 30px;
	font-size: 12px;
}

.member_delete_Btn_div {
	padding-top: 30px;
	text-align: center;
}

.member_delete_Btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}