a {
	font-family: 'Noto Sans KR', sans-serif;
}

.middle_member_info_delete_div {
	height: 700px;
	padding-top: 300px;
	background-color: white;
}

.member_info_delete_div {
	height: 260px;
	background-color: white;
	text-align: center;
}

.member_info_delete_div > div  {
	margin: auto;
	width: 400px;
	text-align: left;
	display: block;
}

.member_delete_title_div {
	padding-bottom: 50px;
	font-size: 25px;
	font-weight: bold;
	color: black;
}

.member_delete_a_div {
	width: 80px;
	height: 15px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
	font-size: 15px;
	color: black;
	text-align : left;
}

.delete_input_div  {
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
	height: 50px;
}

.delete_input_div > input {
	width: 300px;
	height: 30px;
	font-size: 12px;
}

.member_delete_Btn_div {
  display: inline-block;
}

.mypage_go_btn_div {
  display: inline-block;
  margin-left: 5px;
}

.member_delete_Btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	border: solid 1px black;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}

.mypage_go_btn {
	margin-top: 30px;
	width:200px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
	color: black;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}

.mypage_go_btn:hover {
	margin-top: 30px;
	width:200px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}