/* member_info_modify */
.middle_info_modify_div{
	height: 1800px;
	padding-top: 200px;
	background-color: white;
}

.info_modify_div {
	height: 1500px;
	background-color: white;
	text-align: center;
}

.info_modify_title_div {
	padding-bottom: 50px;
}

.info_modify_title_div > a {
	font-size: 25px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
}

.info_modify_div > div {
	margin: auto;
	width: 400px;
	text-align: left;
	display: block;
}

.info_modify_message_div {
	height: 30px;
	margin-bottom: 5px;
}

.info_modify_message_div > p {
	padding-top: 0;
	font-size: 10px;
	font-weight: bold;
	margin-left: 120px;
}

.info_modify_a_div {
	width: 120px;
	height: 15px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
	padding-bottom: 20px;
}

.info_modify_email_div > div {
	padding-bottom: 0;
}

.info_modify_a_div > a {
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
	color: darkgray;
}

.info_modify_input_check_div {
	width: 30px;
	height: 30px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
	padding-bottom: 10px;
}

.info_modify_input_div,
.info_modify_input_radio_div,
.info_modify_a_sms_div,
.info_modify_a_email_div  {
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.info_modify_input_div > input {
	width: 250px;
	height: 30px;
	font-size: 12px;
}

.info_modify_a_sms_div,
.info_modify_a_email_div {
	width: 250px;
	height: 30px;
}

.info_modify_a_sms_div > a,
.info_modify_a_email_div > a {
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
	color: darkgray;
}

.check_gender_div {
	padding: 0;
	border: solid 1px black;
	width: 100px;
	display: inline-block;
}

.info_modify_input_radio_div > a {
	font-size: 15px;
}

.info_modify_Btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}

.mypage_go_btn {
	margin-top: 30px;
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}


/* member_pw_modify */
.middle_pw_modify_div {
	height: 1800px;
	padding-top: 200px;
	background-color: white;
}

.pw_modify_div {
	height: 1500px;
	background-color: white;
	text-align: center;
}

.pw_modify_title_div {
	padding-bottom: 50px;
}

.pw_modify_title_div > a {
	font-size: 25px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
}

.pw_modify_div > div {
	margin: auto;
	width: 400px;
	text-align: left;
	display: block;
}

.pw_modify_input_div {
	width: 120px;
	height: 15px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.pw_modify_id_div {
	width: 150px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
	padding-bottom: 20px;
}

.pw_modify_a_div {
	width: 150px;
	display: table-cell; /* 이름과 인풋을 옆으로 나란히 놓기 */
}

.pw_modify_a_div > a {
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
	color: darkgray;
}

.pw_modify_input_div > input {
	width: 250px;
	height: 30px;
	font-size: 12px;
}

.pw_modify_message_div {
	height: 30px;
}

.pw_modify_message_div > p {
	font-size: 10px;
	font-weight: bold;
	margin-left: 140px;
}

.pw_modify_Btn {
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}

.mypage_go_btn {
	margin-top: 30px;
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: white;
	color: black;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}

.mypage_go_btn:hover {
	margin-top: 30px;
	width:200px;
	height: 50px;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 3px;
	cursor: pointer; /* 마우스 올리면 손가락 모양으로 변함 */
}