a {
  font-family: 'Noto Sans KR', sans-serif;
}


.middle_mypage_div{
	padding-top: 127px;
	background-color: white;
}

.mypage_div {
	width: 70%;
	margin: auto;
	background-color: white;
	text-align: center;
}

.member_info_div {
	height : 200px;
	background: #636363;
	margin-bottom: 100px;
}


.mypage_title {
	width: 100%;
	height: 50px;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight : bold;
	font-size : 25px;
	text-align: left;
	padding-left : 50px;
}

.photo_div {
	float: left;
	width: 20%;
	height: 150px;
	color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.photo_div > i {
	font-size : 100px;
	color: white;
}

.member_id_div {
	float: left;
	width: 50%;
	height: 80px;
	color: white;
	display: flex;
	justify-content: center;
  	align-items: center;
  	font-size: 30px;
  	font-weight: bold;
}

.member_point_div {
	float: left;
	width: 20%;
	height: 80px;
	color: white;
	display: flex;
	justify-content: center;
  	align-items: center;
  	font-size: 15px;
  	font-weight: bold;
}

.member_modify_div {
	float: right;
  	height: 30px;
  	width: 40%;
  	text-align: center;
  	margin-top : 30px;
}

.member_pw_btn,
.member_modify_btn,
.member_delete_btn {
	width:100px;
	height: 30px;
	font-size: 12px;
	background-color: white;
	color: black;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin-right: 15px;
	border: 0;
}

.member_pw_btn:hover,
.member_modify_btn:hover,
.member_delete_btn:hover {
cursor: pointer;
background : black;
color : white;
}

.recent_order_history_div,
.coupon_history_div,
.qna_history_div,
.review_history_div {
	min-height : 300px;
	background: white;
	margin-bottom: 100px;
	
}


.recent_order_history_title,
.coupon_history_title,
.qna_history_title {
	height: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size : 25px;
	font-weight : bold;
	text-align: left;
	padding-left : 50px;
	border-bottom : solid 2px black;
}

.review_history_title {
	height: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size : 25px;
	text-align: left;
	font-weight : bold;
	padding-left : 50px;
	border-bottom : solid 2px black;
}

.product_photo_div {
	width: 20%;
	height: 250px;
	float: left;
}

.product_content_div {
	width: 65%;
	height: 250px;
	float: left;
}

.product_buttons_div {
	width: 10%;
	height: 250px;
	float: right;
	justify-content: center; /* 수평 가운데 정렬 */
 	align-items: center; /* 수직 가운데 정렬 */
}

.review_btn,
.delivery_btn,
.cancel_refund_btn {
	display : block;
	background-color : black;
	width: 100px;
	height: 30px;
	border-radius : 3px;
	color: white;
	margin-top: 20px;
	font-size: 12px;	
	cursor: pointer;
	
}

#qna_table {
   margin: 10px auto 5px auto;
   width: 100%;
   border-spacing: 0px;
}

#review_table {
	margin: 10px auto 5px auto;
	width: 100%;
	border-spacing: 0px;
}


#category, #date, #reply {
   width: 20%;
   padding-bottom: 10px;
   border-bottom: 1px solid gray;
}

#product, #date, #rating {
	width: 20%;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
}

#title {
   width: 40%;
   padding-bottom: 10px;
   border-bottom: 1px solid gray;
}


td {
   border-bottom: 1px solid gray;
   height: 50px;
}

#qna_more {
   background-color: white;
   border: 0px;
   cursor: pointer;
}

#review_more {
   background-color: white;
   border: 0px;
   cursor: pointer;
}