body {
	/* background-image: url("/purchaseAPI/resources/images/bg_img.PNG"); */
	background-color: white;
}

/* 가장 큰 컨테이너 */
.container {
	width: 800px;
}

/* 흰색 컨테이너 */
.container-sm.w-auto {
	width: 800px;
	padding: 1.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

/* 컨테이너 사이 빈 공간 */
.blank {
	/* background-color: rgb(205, 205, 205); */
	background-color: white;
	height: 1rem;
}

/* 상품 이미지 컨테이너 */
.img-container {
	margin-right: 1rem;
}

/* 상세 정보 value들 */
.form-control-plaintext {
	text-align: right;
}

/* 상세 정보 틀 */
.mb-3 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* 주문 금액, 결제 상세, 적립금 혜택 header */
.accordion-header {
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
}

/* 주문이 완료되었습니다. */
#order_detail_title {
	text-align: center;
	margin: 1.4rem;
}

/* 배송지 변경 버튼 */
#revise_btn {
	float: right;
	margin-top: 0.2rem;
}

/* 오노레 header */
#header_title {
	padding-left: 0.5rem;
}

/* 주문 금액 표시 */
#pay_price, #expected_points {
	direction: rtl;
}

/* 상품 정보들 */
#product_name, #order_info_size, #order_info_price {
	margin-bottom: 0.5rem;
}

#btn_container {
	padding: 0.5rem;
	border: none;
}

/* 상품 정보 테이블 */
table, tbody {
	height: 200px;
}

/* 상품 이미지 */
img {
	width: 100px;
	height: 100px;
	object-fit: fill;
}