body {
	background-color: white;
}

/* 가장 큰 컨테이너 */
.container {
	width: 800px;
}

/* 흰색 컨테이너 */
.container-sm {
	width: 800px;
	padding: 1.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	background-color: white;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

/* 컨테이너 밖 회색 공간 */
.blank {
	background-color: white;
	height: 1rem;
}

#header {
	padding-bottom: 1.2rem;
}

#order_result {
	padding: 11rem 0;
	text-align: center;
}
