<?xml version="1.0" encoding="UTF-8"?>				
<!DOCTYPE mapper				
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">			
<mapper namespace="com.onore.project.member.mapper.MemberMapper">	

<!-- 회원가입 -->
<insert id="member_join" parameterType="com.onore.project.member.dto.MemberDTO">
	INSERT INTO members VALUES (
		#{mem_id},
		#{mem_pw},
		#{mem_email},
		#{mem_phone},
		#{mem_name},
		#{mem_zip_code},
		#{mem_street_address},
		#{mem_detail_address},
		#{mem_gender},
		#{mem_birth_date},
		SYSDATE,
		3000,
		#{mem_status},
		#{mem_law1_check},	
		#{mem_law2_check},	
		#{mem_law3_check},	
		#{mem_law4_check},
		#{mem_law5_check},		
		#{mem_sms_check},	
		#{mem_email_check}	
	)
</insert>

<!-- 아이디 중복체크 -->
<select id="idCheck" parameterType="com.onore.project.member.dto.MemberDTO" resultType="int">
	SELECT COUNT(mem_id) FROM members WHERE mem_id = #{mem_id}
</select>

<!-- 로그인 -->
<select id="mem_login_service" resultType="String">
	SELECT 
		mem_id, mem_pw, mem_email, mem_phone, mem_name, mem_zip_code,
	 	mem_street_address, mem_detail_address, mem_gender, mem_birth_date,
	 	mem_point, mem_status, mem_law1_check, mem_law2_check, mem_law3_check, mem_law4_check,
	 	mem_law5_check, mem_sms_check, mem_email_check
	FROM 
		members WHERE mem_id = #{mem_id} AND mem_pw = #{mem_pw}
</select>	

	
</mapper>				
