.detail {
    padding:60px;
    margin-left: auto;
    margin-right: auto;
    
}

.container {
	display: flex;
    flex-direction: row;
}

.b {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    width: auto;
    height: 300px;
}


img {
    width: 200px;
    height: 200px;
}

button {
  	background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    float: right;
    border-radius: 5%;
    margin: 60px;
    margin-top: 30px;
    cursor: pointer; 
  }

#comment {
	background-color: white;
    color: black;
    width: 50px;
    height: 30px;
    float: right;
    margin: 0px;
    border: 0px;
}

textarea {
	resize: none;
}

#write_reply {
	overflow: auto;
}

#reply_detail {
	overflow: auto;
}

#com_mo_de {
	display:flex;
	float: right;
}

#com_mo_de > button {
	background-color: white;
    color: black;
    width: 50px;
    height: 30px;
    margin: 0px;
    border: 0px;
    
}

#comment {
	margin: 0px;
	width: 80px;
}

#list {
	background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    float: right;
    margin-top: 30px;
}

.sub-container2 {
	display: flex;
}

.sub-container2 > div {
	margin: 0 20px;
}


